.post-feed {
    padding-top: 10px !important;
    padding-bottom: 25px !important;
    padding-left: 25px !important;
    padding-right: 30px !important;
    margin-top: -10px;
    overflow: auto;
}

.post-feed::-webkit-scrollbar {
    width: 1px;
    border-radius: 20px;
    opacity: 0;
}

.post-feed::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0);
    opacity: 0;
}
