.home {
    width: 400px;
    display: flex;
    justify-content: center;
    margin: 20px auto 20px auto;
}

.bt-home {
    width: 100%;
    display: flex;
    justify-content: center;
}

.toggle-class {
    color: blue;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}
