body {
  margin: 0;
  /* font-family: 'Baloo Thambi 2', cursive; */
  font-family: 'Istok Web', sans-serif;
  /* font-family: 'Manjari', sans-serif; font-weight: 400; */
}

code {
  /* font-family: 'Baloo Thambi 2', cursive; */
  font-family: 'Istok Web', sans-serif;
  /* font-family: 'Manjari', sans-serif; font-weight: 400; */
}
